{% extends 'base.html' %}

{% block content %}

<br>
<h1 class="text-center">Your Profile</h1>

<div class="container">

	<div class="card" style="width: 18rem;">
		<div class="card-header">
		  <h2> {{ user }}</h2>
		</div>
		<ul class="list-group list-group-flush">
		  <li class="list-group-item">First name: {{ user.first_name }}</li>
		  <li class="list-group-item">Last name: {{ user.last_name }}</li>
		  <li class="list-group-item">Email: {{ user.email }}</li>
		  <li class="list-group-item">Date of Birth: {{user.userprofile.dob}}</li>
		</ul>
	  </div>

	<p>News Categories:</p>
	<p><small><em>Pick the news categories you would like to see</em></small></p>
	<ul>

		<li style="list-style-type: none;"><input type="checkbox" id="sports" name="sports" value="sports"> Sports</li>
		<li style="list-style-type: none;"><input type="checkbox" id="technology" name="technology" value="technology">Technology</li>
		<li style="list-style-type: none;"><input type="checkbox" id="world" name="world" value="world"> World</li>
	</ul>
	<button>Submit</button>

{% endblock %}